ASP_EFF/EFF_2016_V2/EFF_2016_Dossier_3/EFF_2016_Dossier_3/Service References/AppareilsServiceReference/AppareilsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Nb_Appareils_Contrats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num_type" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Nb_Appareils_ContratsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nb_Appareils_ContratsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Nb_Appareils_ContratsSoapIn">
    <wsdl:part name="parameters" element="tns:Nb_Appareils_Contrats" />
  </wsdl:message>
  <wsdl:message name="Nb_Appareils_ContratsSoapOut">
    <wsdl:part name="parameters" element="tns:Nb_Appareils_ContratsResponse" />
  </wsdl:message>
  <wsdl:portType name="AppareilsWebServiceSoap">
    <wsdl:operation name="Nb_Appareils_Contrats">
      <wsdl:input message="tns:Nb_Appareils_ContratsSoapIn" />
      <wsdl:output message="tns:Nb_Appareils_ContratsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppareilsWebServiceSoap" type="tns:AppareilsWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Nb_Appareils_Contrats">
      <soap:operation soapAction="http://tempuri.org/Nb_Appareils_Contrats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AppareilsWebServiceSoap12" type="tns:AppareilsWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Nb_Appareils_Contrats">
      <soap12:operation soapAction="http://tempuri.org/Nb_Appareils_Contrats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppareilsWebService">
    <wsdl:port name="AppareilsWebServiceSoap" binding="tns:AppareilsWebServiceSoap">
      <soap:address location="http://localhost:1688/AppareilsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AppareilsWebServiceSoap12" binding="tns:AppareilsWebServiceSoap12">
      <soap12:address location="http://localhost:1688/AppareilsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>